<!-- Modal visualizar pdf/text -->
<div class="modal fade" id="modalDocumento" tabindex="-1" aria-labelledby="modalDocumentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content text-white" style="background-color: #323639 !important">
            <div class="modal-header" style="background-color: #525659 !important">
                <h5 id="modalDocumentoLabel" class="mb-0">Vista previa de documento</h5>
                <div class="d-flex align-items-center ms-auto">
                    <button type="button" class="btn btn-outline-light me-2" id="btnFullScreenDocumento" title="Pantalla completa">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body" id="contenedorDocumento" style="min-height:70vh;"></div>
        </div>
    </div>
</div>