<!-- Modal visualizar documentos onlyoffice -->
<div class="modal fade" id="onlyofficeModal" tabindex="-1" aria-labelledby="onlyofficeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content text-white" style="background-color: #323639 !important">
            <div class="modal-header" style="background-color: #525659 !important">
                <h5 id="onlyofficeModalLabel">Vista previa y edición de Office</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0" style="height:100vh;">
                <div id="onlyoffice-editor" style="width:100%; height:100vh; background:#262626;"></div>
            </div>
        </div>
    </div>
</div>